*.img
*.ipa
*.zip
dumped_dex
edl_backup
edl_backup-tmo
DoorOpener
bt_logs
global-oos-10-5-7
jadx_out
magisk_extracted
magisk_patch
magisk_work
memory
unpacked_apk
unpacked_ipa
crashdump
*.apk
*_X86
*.bin
*.ko
*.o
*.so
*.log
*.txt
*.pcap
*.deb
*.tar*
*.gz
*.7z
*.rar
*.dmg
*.dts
*.dtsi
*linux-4.19*